<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
    #table{
        width: 100%;
      }
      #table td, #table th {
          border: 1px solid #ddd;
          padding: 8px;
        }
        #table tr:nth-child(even){background-color: #F2F2F2;}
        #table tr:hover {background-color: #ddd;}
        #table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: purple;
            color: white;
            font-family:sans-serif;
        }
    </style>
    <table id="table">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>teaching_hours</th>
            <th>course_unit</th>
            <th>Salary</th>
            <th>resume</th>
        </tr>
        {% for trainer in trainers%}
        <tr>
        <td>{{trainer.first_name}}</td>
        <td>{{trainer.last_name}}</td>
        <td>{{trainer.teaching_hours}}</td>
        <td>{{trainer.course_unit}}</td>
        <td>{{trainer.Salary}}</td>
        <td>{{trainer.resume}}</td>
    </tr>
    {%endfor%}
    </table>
</body>
</html>