<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    </head>
    <body>
        <div class="card" style="width: 18rem;">
            
            <div class="card-body">
              <p class="card-text">
                <h2>{{calender.Event_id}}</h2>
                <h2>{{calender.Event_Name}}</h2>
                <h2>{{calender.Event_planner}}</h2>
                <h2>{{calender.Event_participants}}</h2>
                <h2>{{calender.start_time}}</h2>
                <h2>{{calender.end_time}}</h2>

              </p>
            </div>
          </div>  
          <style>
            .card{
background-color:purple;
align-items: center;
margin: 0 auto; 
        float: none; 
        margin-bottom: 10px; 
        margin-top: 30px;
            }
            h2{
                color: white;
                font-size: 24px;
                text-align: center;
                font-family: fantasy;
            }
          </style>       
 </body>

</html>